.conatainer h2{
    display: grid;
    font-size: 35px;
    color: white
    ;
    font-family: sans-serif;
    background-color: rgb(94, 129, 224);
    border: 2px solid rgb(0, 0, 0);
    height: 80px;
    width: 1330px;
    justify-content: center;
    align-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.conatainer h1{
    display:grid;
    background-color: rgb(245, 224, 186);
    border: 1px solid black;
    width:500px;
    height: 50px;
    justify-content: center;
    align-content: center;
    margin-left: 425px;
    
}



 
